<div class="sidebar">
  <ul>
    <li matTooltip="Home" routerLink="/process/dashboard" routerLinkActive="active">
      <span class="material-symbols-outlined">apps</span>
    </li>
    <li matTooltip="Advertisements" routerLink="/process/advertisements" routerLinkActive="active">
      <span class="material-symbols-outlined">campaign</span>
    </li>
    <li matTooltip="Users" routerLink="/process/users" routerLinkActive="active">
      <span class="material-symbols-outlined">group</span>
    </li>
    <li matTooltip="Categories" routerLink="/process/categories" routerLinkActive="active">
      <span class="material-symbols-outlined">account_tree</span>
    </li>
    <li matTooltip="Revenue" routerLink="/process/revenue" routerLinkActive="active">
      <span class="material-symbols-outlined">attach_money</span>
    </li>
    <li matTooltip="Complaints" routerLink="/process/complains/all" routerLinkActive="active">
      <span class="material-symbols-outlined">block</span>
    </li>
    <li matTooltip="Locations" routerLink="/process/locations" routerLinkActive="active">
      <span class="material-symbols-outlined">location_on</span>
    </li>
    <li matTooltip="Logout" (click)="onLogout()" class="logout-item">
      <span class="material-symbols-outlined">logout</span>
    </li>
  </ul>
</div>
