.delete{
  color: var(--danger-color)!important;
}
.update{
  color: var(--orange-color)!important;
}
.info{
  color: var(--blue-color)!important;
}
.default{
  color: var(--secondary-color)!important;
}
